*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus {
  outline: 0;

  box-shadow: 0 0 0 2px #a6c7ff;
}

::selection {
  color: #ffffff;

  background-color: #666666;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: #333333;
}

html::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-left: 1px solid #b1b1b1;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  color: #333333;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
